<div class="container">
    <div class="row" style="margin-top: 15px">

      <p>Here is the form which contain username,email,gender,activity,and address. after submit all data is show in another component in form of table where you can edit and delete data.</p>
<br>
      <form nz-form  [formGroup]="validateForm" (ngSubmit)="submitForm();save() ">
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Username</nz-form-label>
          <nz-form-control
            [nzSpan]="12"
            nzHasFeedback
            nzValidatingTip="Validating..."
            [nzErrorTip]="userErrorTpl"
          >
            <input
              nz-input
              formControlName="userName"
              placeholder="Write your name here"
            />
            <ng-template #userErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >Please input your username!</ng-container
              >
              <ng-container *ngIf="control.hasError('duplicated')"
                >The username is redundant!</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
          <nz-form-control
            [nzSpan]="12"
            nzHasFeedback
            [nzErrorTip]="emailErrorTpl"
          >
            <input
              nz-input
              formControlName="email"
              placeholder="email"
              type="email"
            />
            <ng-template #emailErrorTpl let-control>
              <ng-container *ngIf="control.hasError('email')"
                >The input is not valid E-mail!</ng-container
              >
              <ng-container *ngIf="control.hasError('required')"
                >Please input your E-mail!</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Gender</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-radio-group formControlName="radio">
              <label nz-radio *ngFor="let val of radioValues" [nzValue]="val">
                {{val}}
              </label>
            </nz-radio-group>
  
          </nz-form-control>
        </nz-form-item>
  
    
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Activity</nz-form-label>
          <nz-form-control [nzSpan]="12">
  
            <nz-checkbox-group  formControlName="activityList" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>
  
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item *ngIf="isEdit">
          <nz-form-label [nzSpan]="7" nzRequired >Password</nz-form-label>
          <nz-form-control
            [nzSpan]="12"
            nzHasFeedback
            nzErrorTip="Please input your password!"
          >
            <input
              nz-input
              type="password"
              formControlName="password"
              (ngModelChange)="validateConfirmPassword()"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="isEdit">
          <nz-form-label [nzSpan]="7" nzRequired> Confirm Password</nz-form-label>
          <nz-form-control
           [nzSpan]="12"
            nzHasFeedback
            [nzErrorTip]="passwordErrorTpl"
          >
            <input
              nz-input
              type="password"
              formControlName="confirm"
              placeholder="confirm your password"
            />
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >Please confirm your password!</ng-container
              >
              <ng-container *ngIf="control.hasError('confirm')"
                >Password is inconsistent!</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Address</nz-form-label>
          <nz-form-control
            [nzSpan]="12"
            nzErrorTip="Please write something here!"
          >
            <textarea
              formControlName="address"
              nz-input
              rows="2"
              placeholder="write your address here"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">
              Submit
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
  
      <hr />
    </div>
  </div>
  <!-- routerLink="/usertable" -->
  <hr/>